#areaSelector {
  background-color: rgba(16, 160, 222, 0.52);
  border-radius: 0.3em;
  border-color: rgba(9, 122, 171, 0.61);
  position: absolute;
  z-index: -1;
}

.btnDisable {
  opacity: .5;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
