.button {
  margin-left: 0.5em;
}

.file-white {
  background-color: rgb(189, 222, 235);
  margin: 0.4em;
}
.folder-white {
  background-color: rgb(230, 235, 189);
  margin: 0.4em;
}
.fileHeader-white {
  background-color: rgb(120, 196, 231);
}
.folderHeader-white {
  background-color: rgb(233, 187, 156);
}
.folderName-white {
  color: rgb(10, 70, 133);
}
.fileName-white {
  color: rgb(87, 87, 87);
}


@@media only screen and (min-width: 1100px) {
  .actionColumn {
    width: 10%;
  }
}

.actionColumn {
  width: 20%;
}
