#badgeTitle {
  background-color: rgba(105, 173, 187, 0.79);
}
#pathText {
  background-color: rgba(181, 218, 219, 0.25);
  color: rgb(23, 149, 167);
}
#pathInfo {
  background-color: rgba(66, 128, 158, 0.74);
  color: rgb(179, 225, 237);
}
