#areaSelector {
  background-color: rgba(16, 160, 222, 0.52);
  border-radius: 0.3em;
  border-color: rgba(9, 122, 171, 0.61);
  position: absolute;
}

.file:hover {
  background-color: rgba(102, 163, 198, 0.3);
  border-radius: 0.3em;
  border-color: #E2F1FF;
}
.footer {
  font-size: 0.7em;
}
.button {
  margin-left: 0.5em;
}
.file-white {
  background-color: rgb(189, 222, 235);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.folder-white {
  background-color: rgb(230, 235, 189);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.fileHeader-white {
  background-color: rgb(120, 196, 231);
}
.folderHeader-white {
  background-color: rgb(233, 187, 156);
}
.folderName-white {
  color: rgb(10, 70, 133);
}
.fileName-white {
  color: rgb(87, 87, 87);
}

.fadeIn {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.8s; /* Firefox < 16 */
        -ms-animation: fadein 0.8s; /* Internet Explorer */
         -o-animation: fadein 0.8s; /* Opera < 12.1 */
            animation: fadein 0.8s;
}

@keyframes fadein {
    from { opacity: 0; width: 90%}
    to   { opacity: 1; width: 102.75%}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
