.fixed-right{
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 10%;
  right: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

#toolNav {
  background-color: rgba(90, 126, 139, 0.08);
}

.navButton {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
}
